# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# !jupyter nbextension enable --py gmaps
# !jupyter nbextension enable --py widgetsnbextension

%config Completer.use_jedi = False

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-07-28 03:58:37,-33.6500,115.3333,59.04,69,54,19.71
1,1,Ushuaia,AR,2021-07-28 03:58:37,-54.8000,-68.3000,38.86,93,75,3.44
2,2,Malaya Vishera,RU,2021-07-28 03:58:37,58.8454,32.2222,65.28,76,100,5.84
3,3,Yei,SS,2021-07-28 03:58:38,4.0950,30.6779,65.50,96,93,2.37
4,4,Tuatapere,NZ,2021-07-28 03:58:38,-46.1333,167.6833,52.83,74,65,1.79

One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.

In [4]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     566 non-null    int64
 1   City        566 non-null    object
 2   Country     562 non-null    object
 3   Date        566 non-null    object
 4   Lat         566 non-null    float64
 5   Lng         566 non-null    float64
 6   Max Temp    566 non-null    float64
 7   Humidity    566 non-null    int64
 8   Cloudiness  566 non-null    int64
 9   Wind Speed  566 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.3+ KB

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# The general syntax for creating a heatmap is as follows.

```python
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig
```

# Create a Maximum Temperature Heatmap

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# To make it work

- Enable Maps JavaScript API in Google Cloud Platform
- en el env correcto (py38) ejecutar en git bash:
  - conda install -c conda-forge gmaps
  - jupyter nbextension enable --py gmaps
  - jupyter nbextension enable --py widgetsnbextension
- reiniciar todo (jupyter notebook y git bash)

# Create a Percent Humidity Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 52

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Dunedin,NZ,2021-07-28 03:58:39,-45.8742,170.5036,50.81,58,48,3.47
20,20,Hermanus,ZA,2021-07-28 03:58:44,-34.4187,19.2345,50.90,65,99,11.36
62,62,Ibaiti,BR,2021-07-28 03:58:56,-23.8486,-50.1878,50.47,91,99,5.82
68,68,Grindavik,IS,2021-07-28 03:58:59,63.8424,-22.4338,50.56,100,0,11.50
75,75,Cape Town,ZA,2021-07-28 03:55:39,-33.9258,18.4232,51.12,89,20,1.01
77,77,Tuktoyaktuk,CA,2021-07-28 03:59:02,69.4541,-133.0374,51.80,71,75,9.22
112,112,Olafsvik,IS,2021-07-28 03:59:15,64.8945,-23.7142,50.92,90,97,13.56
118,118,Villamontes,BO,2021-07-28 03:59:16,-21.2500,-63.5000,50.20,47,10,2.91
145,145,Provideniya,RU,2021-07-28 03:55:21,64.3833,-173.3000,51.91,82,90,17.90
167,167,Saldanha,ZA,2021-07-28 03:54:53,-33.0117,17.9442,51.85,64,100,6.15

In [13]:
preferred_cities_df.count()

City_ID       23
City          23
Country       23
Date          23
Lat           23
Lng           23
Max Temp      23
Humidity      23
Cloudiness    23
Wind Speed    23
dtype: int64

# 6.5.4 Map Vacation Criteria

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
9        Dunedin      NZ     50.81 -45.8742  170.5036
20      Hermanus      ZA     50.90 -34.4187   19.2345
62        Ibaiti      BR     50.47 -23.8486  -50.1878
68     Grindavik      IS     50.56  63.8424  -22.4338
75     Cape Town      ZA     51.12 -33.9258   18.4232
77   Tuktoyaktuk      CA     51.80  69.4541 -133.0374
112     Olafsvik      IS     50.92  64.8945  -23.7142
118  Villamontes      BO     50.20 -21.2500  -63.5000
145  Provideniya      RU     51.91  64.3833 -173.3000
167     Saldanha      ZA     51.85 -33.0117   17.9442

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
hotel_df

              City Country  Max Temp      Lat       Lng Hotel Name
9          Dunedin      NZ     50.81 -45.8742  170.5036
20        Hermanus      ZA     50.90 -34.4187   19.2345
62          Ibaiti      BR     50.47 -23.8486  -50.1878
68       Grindavik      IS     50.56  63.8424  -22.4338
75       Cape Town      ZA     51.12 -33.9258   18.4232
77     Tuktoyaktuk      CA     51.80  69.4541 -133.0374
112       Olafsvik      IS     50.92  64.8945  -23.7142
118    Villamontes      BO     50.20 -21.2500  -63.5000
145    Provideniya      RU     51.91  64.3833 -173.3000
167       Saldanha      ZA     51.85 -33.0117   17.9442
180           Nome      US     51.87  64.5011 -165.4064
192    Warrnambool      AU     51.82 -38.3833  142.4833
242         Burnie      AU     50.68 -41.0667  145.9167
244       Yar-Sale      RU     50.25  66.8333   70.8333
245     Chokurdakh      RU     50.97  70.6333  147.9167
295           Nuuk      GL     50.61  64.1835  -51.7216
313     Muravlenko      RU     51.58  63.7898   74.5230
320        Lubango      AO     51.44 -14.9172   13.4925
426  Kirkland Lake      CA     50.72  48.1446  -80.0377
444       Klaksvik      FO     50.92  62.2266   -6.5890
498        Te Anau      NZ     51.40 -45.4167  167.7167
500         Dalvik      IS     50.88  65.9702  -18.5286
535      Yagodnoye      RU     50.76  62.5500  149.6667

In [17]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 9 to 535
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        23 non-null     object
 1   Country     23 non-null     object
 2   Max Temp    23 non-null     float64
 3   Lat         23 non-null     float64
 4   Lng         23 non-null     float64
 5   Hotel Name  23 non-null     object
dtypes: float64(3), object(3)
memory usage: 1.3+ KB

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(f"Found: {index}")
    except (IndexError):
        print("Hotel not found... skipping.")

Found: 9
Found: 20
Found: 62
Found: 68
Found: 75
Found: 77
Found: 112
Found: 118
Hotel not found... skipping.
Found: 167
Found: 180
Found: 192
Found: 242
Found: 244
Hotel not found... skipping.
Found: 295
Found: 313
Found: 320
Found: 426
Found: 444
Found: 498
Found: 500
Found: 535

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))