# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# !jupyter nbextension enable --py gmaps
# !jupyter nbextension enable --py widgetsnbextension

%config Completer.use_jedi = False

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-07-28 03:58:37,-33.6500,115.3333,59.04,69,54,19.71
1,1,Ushuaia,AR,2021-07-28 03:58:37,-54.8000,-68.3000,38.86,93,75,3.44
2,2,Malaya Vishera,RU,2021-07-28 03:58:37,58.8454,32.2222,65.28,76,100,5.84
3,3,Yei,SS,2021-07-28 03:58:38,4.0950,30.6779,65.50,96,93,2.37
4,4,Tuatapere,NZ,2021-07-28 03:58:38,-46.1333,167.6833,52.83,74,65,1.79

One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.

In [4]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     566 non-null    int64
 1   City        566 non-null    object
 2   Country     562 non-null    object
 3   Date        566 non-null    object
 4   Lat         566 non-null    float64
 5   Lng         566 non-null    float64
 6   Max Temp    566 non-null    float64
 7   Humidity    566 non-null    int64
 8   Cloudiness  566 non-null    int64
 9   Wind Speed  566 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.3+ KB

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# The general syntax for creating a heatmap is as follows.

```python
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig
```

# Create a Maximum Temperature Heatmap

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# To make it work

- Enable Maps JavaScript API in Google Cloud Platform
- en el env correcto (py38) ejecutar en git bash:
  - conda install -c conda-forge gmaps
  - jupyter nbextension enable --py gmaps
  - jupyter nbextension enable --py widgetsnbextension
- reiniciar todo (jupyter notebook y git bash)

# Create a Percent Humidity Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 200

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Victoria,HK,2021-07-28 03:54:28,22.2855,114.1577,94.96,75,99,1.01
11,11,Hasaki,JP,2021-07-28 03:58:40,35.7333,140.8333,88.29,77,100,22.30
14,14,Port Blair,IN,2021-07-28 03:58:41,11.6667,92.7500,82.87,82,100,19.91
19,19,Gorontalo,ID,2021-07-28 03:58:44,0.5412,123.0595,89.01,59,15,9.66
34,34,Griffith,US,2021-07-28 03:58:48,41.5284,-87.4237,81.05,85,1,3.44
43,43,Kudahuvadhoo,MV,2021-07-28 03:58:51,2.6708,72.8944,80.65,77,100,7.34
45,45,Kahului,US,2021-07-28 03:55:31,20.8947,-156.4700,81.66,84,100,10.00
46,46,Lorengau,PG,2021-07-28 03:54:49,-2.0226,147.2712,84.99,71,8,6.06
47,47,Banda Aceh,ID,2021-07-28 03:58:52,5.5577,95.3222,86.61,65,81,13.89
53,53,Shihezi,CN,2021-07-28 03:58:54,44.3000,86.0333,87.93,30,0,10.42

In [13]:
preferred_cities_df.count()

City_ID       146
City          146
Country       146
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

# 6.5.4 Map Vacation Criteria

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
10      Victoria      HK     94.96  22.2855  114.1577
11        Hasaki      JP     88.29  35.7333  140.8333
14    Port Blair      IN     82.87  11.6667   92.7500
19     Gorontalo      ID     89.01   0.5412  123.0595
34      Griffith      US     81.05  41.5284  -87.4237
43  Kudahuvadhoo      MV     80.65   2.6708   72.8944
45       Kahului      US     81.66  20.8947 -156.4700
46      Lorengau      PG     84.99  -2.0226  147.2712
47    Banda Aceh      ID     86.61   5.5577   95.3222
53       Shihezi      CN     87.93  44.3000   86.0333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
hotel_df

           City Country  Max Temp      Lat       Lng Hotel Name
10     Victoria      HK     94.96  22.2855  114.1577
11       Hasaki      JP     88.29  35.7333  140.8333
14   Port Blair      IN     82.87  11.6667   92.7500
19    Gorontalo      ID     89.01   0.5412  123.0595
34     Griffith      US     81.05  41.5284  -87.4237
..          ...     ...       ...      ...       ...        ...
540    Araouane      ML     88.36  18.9048   -3.5265
545        Tezu      IN     93.54  27.9167   96.1667
554      Pierre      US     91.85  44.3683 -100.3510
559   Lovington      US     83.03  32.9440 -103.3485
561      Hirara      JP     83.52  24.8000  125.2833

[146 rows x 6 columns]

In [17]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 10 to 561
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        146 non-null    object
 1   Country     146 non-null    object
 2   Max Temp    146 non-null    float64
 3   Lat         146 non-null    float64
 4   Lng         146 non-null    float64
 5   Hotel Name  146 non-null    object
dtypes: float64(3), object(3)
memory usage: 8.0+ KB

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(f"Found: {index}")
    except (IndexError):
        print("Hotel not found... skipping.")

Found: 10
Found: 11
Found: 14
Found: 19
Found: 34
Found: 43
Found: 45
Found: 46
Found: 47
Found: 53
Found: 54
Found: 57
Hotel not found... skipping.
Found: 66
Found: 69
Found: 85
Found: 86
Found: 87
Found: 94
Hotel not found... skipping.
Found: 96
Found: 102
Found: 107
Found: 111
Found: 115
Found: 116
Found: 128
Found: 131
Found: 136
Found: 139
Found: 143
Found: 144
Found: 149
Found: 150
Found: 151
Found: 153
Found: 164
Found: 166
Hotel not found... skipping.
Found: 179
Found: 183
Found: 185
Found: 189
Found: 190
Found: 191
Found: 194
Found: 196
Found: 198
Found: 199
Found: 201
Found: 202
Found: 207
Found: 210
Found: 218
Found: 221
Found: 223
Found: 228
Found: 230
Found: 231
Found: 237
Found: 249
Found: 258
Found: 259
Found: 265
Found: 269
Found: 275
Found: 277
Found: 280
Found: 287
Found: 292
Found: 300
Found: 302
Found: 306
Found: 311
Found: 317
Found: 318
Found: 322
Found: 328
Found: 332
Found: 334
Found: 336
Found: 340
Found: 343
Found: 348
Found: 349
Found: 352
Found: 354
Found: 362
Found: 364
Found: 365
Found: 369
Found: 373
Found: 376
Found: 377
Found: 380
Found: 381
Found: 391
Found: 392
Found: 396
Hotel not found... skipping.
Found: 399
Found: 401
Found: 402
Found: 404
Hotel not found... skipping.
Found: 407
Found: 408
Found: 409
Hotel not found... skipping.
Found: 415
Found: 420
Found: 422
Found: 432
Found: 433
Found: 435
Found: 436
Found: 440
Found: 441
Found: 446
Found: 456
Found: 457
Found: 460
Found: 464
Found: 465
Found: 472
Found: 475
Found: 476
Found: 480
Found: 483
Found: 488
Found: 496
Found: 497
Found: 502
Found: 513
Found: 518
Hotel not found... skipping.
Found: 521
Found: 526
Found: 532
Found: 534
Found: 539
Hotel not found... skipping.
Found: 545
Found: 554
Found: 559
Found: 561

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))