# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# !jupyter nbextension enable --py gmaps
# !jupyter nbextension enable --py widgetsnbextension

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-07-28 03:58:37,-33.6500,115.3333,59.04,69,54,19.71
1,1,Ushuaia,AR,2021-07-28 03:58:37,-54.8000,-68.3000,38.86,93,75,3.44
2,2,Malaya Vishera,RU,2021-07-28 03:58:37,58.8454,32.2222,65.28,76,100,5.84
3,3,Yei,SS,2021-07-28 03:58:38,4.0950,30.6779,65.50,96,93,2.37
4,4,Tuatapere,NZ,2021-07-28 03:58:38,-46.1333,167.6833,52.83,74,65,1.79

One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.

In [4]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     566 non-null    int64
 1   City        566 non-null    object
 2   Country     562 non-null    object
 3   Date        566 non-null    object
 4   Lat         566 non-null    float64
 5   Lng         566 non-null    float64
 6   Max Temp    566 non-null    float64
 7   Humidity    566 non-null    int64
 8   Cloudiness  566 non-null    int64
 9   Wind Speed  566 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.3+ KB

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# The general syntax for creating a heatmap is as follows.

```python
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig
```

# Create a Maximum Temperature Heatmap

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# To make it work

- Enable Maps JavaScript API in Google Cloud Platform
- en el env correcto (py38) ejecutar en git bash:
  - conda install -c conda-forge gmaps
  - jupyter nbextension enable --py gmaps
  - jupyter nbextension enable --py widgetsnbextension
- reiniciar todo (jupyter notebook y git bash)

# Create a Percent Humidity Heatmap

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Rikitea,PF,2021-07-28 03:58:39,-23.1203,-134.9692,74.52,79,100,14.63
11,11,Hasaki,JP,2021-07-28 03:58:40,35.7333,140.8333,88.29,77,100,22.30
14,14,Port Blair,IN,2021-07-28 03:58:41,11.6667,92.7500,82.87,82,100,19.91
19,19,Gorontalo,ID,2021-07-28 03:58:44,0.5412,123.0595,89.01,59,15,9.66
30,30,Kismayo,SO,2021-07-28 03:56:38,-0.3582,42.5454,76.55,79,90,18.39
34,34,Griffith,US,2021-07-28 03:58:48,41.5284,-87.4237,81.05,85,1,3.44
38,38,Coronado,US,2021-07-28 03:58:49,32.6859,-117.1831,78.94,86,26,5.01
40,40,Half Moon Bay,US,2021-07-28 03:58:50,37.4636,-122.4286,75.74,86,18,2.93
43,43,Kudahuvadhoo,MV,2021-07-28 03:58:51,2.6708,72.8944,80.65,77,100,7.34
44,44,Awjilah,LY,2021-07-28 03:58:51,29.1081,21.2869,78.48,48,0,5.84

In [20]:
preferred_cities_df.count()

City_ID       272
City          272
Country       272
Date          272
Lat           272
Lng           272
Max Temp      272
Humidity      272
Cloudiness    272
Wind Speed    272
dtype: int64

# 6.5.4 Map Vacation Criteria

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
8         Rikitea      PF     74.52 -23.1203 -134.9692
11         Hasaki      JP     88.29  35.7333  140.8333
14     Port Blair      IN     82.87  11.6667   92.7500
19      Gorontalo      ID     89.01   0.5412  123.0595
30        Kismayo      SO     76.55  -0.3582   42.5454
34       Griffith      US     81.05  41.5284  -87.4237
38       Coronado      US     78.94  32.6859 -117.1831
40  Half Moon Bay      US     75.74  37.4636 -122.4286
43   Kudahuvadhoo      MV     80.65   2.6708   72.8944
44        Awjilah      LY     78.48  29.1081   21.2869

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Rikitea,PF,74.52,-23.1203,-134.9692,People ThankYou
11,Hasaki,JP,88.29,35.7333,140.8333,Hotel Sunrise Choshi
14,Port Blair,IN,82.87,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
19,Gorontalo,ID,89.01,0.5412,123.0595,Maqna Hotel by Prasanthi
30,Kismayo,SO,76.55,-0.3582,42.5454,Agan-Hotel
...,...,...,...,...,...,...
558,Eyl,SO,79.68,7.9803,49.8164,Amiin Hotel
559,Lovington,US,83.03,32.9440,-103.3485,Buena vida rv parks
560,Suez,EG,75.58,29.9737,32.5263,Green House
561,Hirara,JP,83.52,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
562,Cabedelo,BR,74.73,-6.9811,-34.8339,Hotel Pigalle

In [29]:
# Iterate through the DataFrame.
row = hotel_df[0]

# Get the latitude and longitude.
lat = row["Lat"]
lng = row["Lng"]

# print(lat)
# print(lng)

# Add the latitude and longitude to location key for the params dictionary.
params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
print(hotels["results"][0])
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

KeyError: 0

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # print(lat)
    # print(lng)

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    print(hotels["results"][0])
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

IndexError: list index out of range